<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.xdclass.online_xdclass.mapper.ArticleMapper">

    <select id="listArticle" resultType="Article">
      SELECT  * FROM `article` ORDER BY `article_level`,`article_time` DESC
    </select>

    <select id="findArticleById" resultType="Article">
      SELECT  * FROM article WHERE article_id = #{article_id}
    </select>

    <insert id="addArticle" parameterType="Article">
    INSERT INTO `xdclass`.`article`(`author_id`, `article_author`, `article_title`,
    `article_img`, `article_content`, `article_level`, `article_time`)
     VALUES (#{authorId,jdbcType=INTEGER}, #{articleAuthor,jdbcType=VARCHAR}, #{articleTitle,jdbcType=VARCHAR},
        #{articleImg,jdbcType=VARCHAR},#{articleContent,jdbcType=VARCHAR},#{articleLevel,jdbcType=VARCHAR},#{articleTime,jdbcType=TIMESTAMP})
    </insert>

    <delete id="deleteArticleById" parameterType="Article">
        DELETE FROM `article` WHERE `article_id` = #{article_id}
    </delete>

    <update id="updateArticle" parameterType="Article">
    UPDATE `article` SET `article_author`=#{articleAuthor,jdbcType=VARCHAR},`article_title`=#{articleTitle,jdbcType=VARCHAR},
    `article_img`=#{articleImg,jdbcType=VARCHAR},`article_content`=#{articleContent,jdbcType=VARCHAR},
    `article_level`=#{articleLevel,jdbcType=VARCHAR} WHERE article_id=#{articleId,jdbcType=INTEGER}
    </update>

    <update id="updateArticleLevel" parameterType="Article">
    UPDATE `article` SET `article_level`=#{articleLevel,jdbcType=INTEGER} WHERE article_id=#{articleId,jdbcType=INTEGER}
    </update>

</mapper>