<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.xdclass.online_xdclass.mapper.TestMapper">
<!-- SELECT  * FROM `test` ORDER BY `test_time` DESC-->
    <select id="listTest" resultType="Test">
      select * from test left join user on test.id=user.id order by `test_time` desc
    </select>

    <select id="findTestById" resultType="Test">
      select  * from test where test_id = #{test_id}
    </select>

    <insert id="addTest" parameterType="Test">
    INSERT INTO `xdclass`.`test`(`id`, `test_img`, `test_result`, `test_doctor`, `test_time`)
     VALUES (#{id,jdbcType=INTEGER}, #{testImg,jdbcType=VARCHAR}, #{testResult,jdbcType=VARCHAR},
        #{testDoctor,jdbcType=VARCHAR},#{testTime,jdbcType=TIMESTAMP})
</insert>
    <update id="addUserTest" parameterType="Test">
        UPDATE `user` SET `new_test`=#{testResult,jdbcType=INTEGER} WHERE id=#{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteTestById" parameterType="Test">
        DELETE FROM `test` WHERE `test_id` = #{test_id}
    </delete>

    <update id="updateTest" parameterType="Test">
    UPDATE `test` SET `test_img`=#{testImg,jdbcType=VARCHAR},`test_result`=#{testResult,jdbcType=VARCHAR},
    `test_doctor`=#{testDoctor,jdbcType=VARCHAR},`id`=#{id,jdbcType=INTEGER}, WHERE test_id=#{testId,jdbcType=INTEGER}
    </update>


</mapper>